.jumbotron {
  height: 100vh;
  overflow-y: hidden;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

.error-section {
  min-height: 40px;
  color: red;
}

.error {
  margin-top: 20px;
}

.input-group-btn-select {
  width: 100px;
}

.input-select {
  background-color: lightslategray;
  color: black;
  font-weight: bold;
  border: 0px;
}

.input-no-left-margin {
  margin-left: 0px;
}

select:active, select:hover {
  outline: white;
}
